.hidden {
  display: none;
}

.section {
  border: 1px solid #ccc;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.inline-form-fields {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.inline-form-fields input {
  display: block;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.header-pair {
  display: flex;
  gap: 0.5rem;
}

.header-pair code {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 0.25rem;
}

.text-danger {
  color: tomato;
}

.text-success {
  color: green;
}

#saveSuccessMessage {
  margin-top: 0.5rem;
}

.field {
  margin-bottom: .75rem;
}

.field input[type="text"],
.field select {
  display: block;
  margin-top: 0.25rem;
}

.url-test-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.url-test-container input {
  flex: 1;
  margin-top: 0;
}

.url-test-container button {
  padding: 0.25rem 1rem;
}

#testConnectionMessage {
  margin-top: 0.25rem;
  font-size: 0.9em;
}
